<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.zhangyc.media_player">



    <application tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity android:name=".media_activity.MediaActivity"
                android:configChanges="screenSize|orientation|keyboardHidden"/>
        <service android:name=".service.MusicService"/>
    </application>

</manifest>